
{{#if session.loggedIn}}
    <form action="/books/edit/{{book.ISBN}}" method="POST">
        <div id="book_info">
            ISBN <input type="text" name="ISBN" value="{{book.ISBN}}">
            Title <input type="text" name="title" value="{{book.title}}">
            {{#if book.classification}}
                Signum <input type="text" name="signum" value="{{book.classification.signum}}">
            {{/if}}
            Year  <input type="text" name="publicationYear" value="{{book.publicationYear}}"> 
            Info<input type="text" name="publicationInfo" value="{{book.publicationInfo}}">
            Pages  <input type="text" name="pages" value="{{book.pages}}">
        </div>
        
        {{#isAdmin session.authorityId}}
            <input type="submit" value="Submit">
        {{/isAdmin}}
    </form>
{{/if}}
