{{> pagination}}
{{> search}}

{{#if session.loggedIn}}
    <form action="/books/create" method="GET">
        <input type="hidden" name="_csrf" value="{{_csrf}}">
        <button type="submit">Create Book</button>
    </form>
{{/if}}

{{#each books}}
<div id="wrapper">
    <div id="book_info">
        <a href="/books/{{this.ISBN}}">
            <div>ISBN: {{this.ISBN}}</div>
            <div>Title: {{this.title}}</div>
            <div>publicationYear: {{this.publicationYear}}</div>
            <div>Pages: {{this.pages}}</div>
        </a>
        {{#if this.authors}}
            <div>
                <div>
                    Authors: 
                </div>
                <hr>
                {{#each this.authors}}
                    <a href="/authors/{{this.Id}}">
                        <div>
                            First Name: {{this.firstName}}<br>
                            Last Name: {{this.lastName}}<br>
                        </div>
                    </a>
                    <hr>
                {{/each}}
            </div>
        {{/if}}
    </div>
    
    {{#hasAdminRights ../session.authorityId}}
    <div id="rightContent">
        <div id="deleteButton">
            <form action="/books/delete/{{ISBN}}" id="deleteForm" method="post">
                <input type="hidden" name="_csrf" value="{{../_csrf}}">
                <button type="submit" > <i class="fas fa-trash-alt"></i></button>
            </form>
        </div>
        <div id="editButton">
            <form action="/books/edit/{{ISBN}}" method="GET">
                <input type="hidden" name="_csrf" value="{{../_csrf}}">
                <button type="submit" value="Edit"><i class="fas fa-edit"></i></button>
            </form>
        </div>
    </div>
    {{/hasAdminRights}}
</div>
{{/each}}

{{> pagination}}
