<form action="/books/edit/{{book.ISBN}}" method="GET">
    <div id="book_info">
        <div>ISBN: {{book.ISBN}}</div>
        <div>Title: {{book.title}}</div>
        {{#if book.classification}}
            <div>Signum: {{book.classification.signum}}</div>
            <div>Description: {{book.classification.description}}</div>
        {{/if}}
        <div>publicationYear: {{book.publicationYear}}</div>
        <div>PublicationInfo: {{book.publicationInfo}}</div>
        <div>Pages: {{book.pages}}</div>
    </div>
    
    {{#if session.canUpdateBooks}}
        <input type="submit" value="Edit">
    {{/if}}
</form>

    {{#if book.books}}
        {{#each author.books}}
        <form action="/books/{{this.ISBN}}"method="GET">
        <option value="{{this.ISBN}}">{{this.ISBN}} / {{this.title}} </option>
        <input type="submit" value="Go"></form>
        {{/each}}
    {{/if}}



