{{> pagination}}
{{> search}}

{{#if session.loggedIn}}
    <form action="/books/create" method="GET">
        <button type="submit">Create Book</button>
    </form>
{{/if}}

{{#each books}}
    <div id="book_info">
        <a href="/books/{{ISBN}}">

            <div>ISBN: {{ISBN}}</div>
            <div>Title: {{title}}</div>
            <div>publicationYear: {{publicationYear}}</div>
            <div>Pages: {{pages}}</div>
        </a>
    </div>
    {{#if ../session.canDeleteBooks}}
        <form action="/books/delete/{{ISBN}}" id="deleteForm" method="post">
            <input type="submit" value="Delete"/>
        </form>
    {{/if}}
    
{{/each}}

{{> pagination}}
