
{{#if session.loggedIn}}
    <form action="/books/edit/{{book.ISBN}}" method="POST">
        <div id="book_info">
            ISBN<br>
            <input type="text" name="ISBN" value="{{book.ISBN}}">
            <br>
            Title<br>
            <input type="text" name="title" value="{{book.title}}">
            <br>
            {{#if book.classification}}
                Signum<br>
                <input type="text" name="signum" value="{{book.classification.signum}}">
                <br>
            {{/if}}
            Year<br>
            <input type="text" name="publicationYear" value="{{book.publicationYear}}">
            <br>
            Info<br>
            <input type="text" name="publicationInfo" value="{{book.publicationInfo}}">
            <br>
            Pages<br>
            <input type="text" name="pages" value="{{book.pages}}">
        </div>
        
        {{#hasAdminRights session.authorityId}}
            <input type="submit" value="Submit">
        {{/hasAdminRights}}
    </form>
{{/if}}
