{{> pagination}}


<!-- Possibly add admin controll here start-->
    <form action="/authors/create" method="GET">
        <button type="submit">Create Author</button>
    </form>
<!-- Possibly add admin controll here /end -->

{{#each authors}}
    <div id="author_info">
        <a href="/authors/{{this.Id}}">

            <div hidden="true">Id: {{this.Id}}</div>
            <div>firstName: {{this.firstName}}</div>
            <div>lastName: {{this.lastName}}</div>
            <div>birthYear: {{this.birthYear}}</div>
        </a>
    </div>
    {{#if this.books}}
        {{#each this.books}}
            <div>ISBN: {{this.ISBN}}</div>
            <div>Title: {{this.title}}</div>
            <div>publicationYear: {{this.publicationYear}}</div>
            <div>Pages: {{this.pages}}</div>
        {{/each}}
    {{/if}}
    <form action="authors/delete/{{Id}}"  method="post">
        <input type="submit" value="Delete"/>
    </form>
    
{{/each}}

{{> pagination}}
