<form action="../edit/{{Id}}" method="POST">
    <div id="book_info">
        Firstname <input type="text" name="firstName" value="{{firstName}}"><br>
        Lastname  <input type="text" name="lastName" value="{{lastName}}"><br>
        BirthYear <input type="text" name="birthYear" value="{{birthYear}}">
        <input type="hidden" id="Id" name="Id" value="{{Id}}">
    </div>
    <input type="submit" value="Submit">
</form>