<form action="./edit/{{Id}}" method="GET">
    <div id="book_info">
        <div>Id: {{Id}}</div>
        <div>FirstName: {{firstName}}</div>
        <div>LastName: {{lastName}}</div>
        <div>BirthYear: {{birthYear}}</div>
    </div>
<input type="submit" value="Edit">
</form>

