
<div id="book_info">
    <div>Id: {{author.Id}}</div>
    <div>FirstName: {{author.firstName}}</div>
    <div>LastName: {{author.lastName}}</div>
    <div>BirthYear: {{author.birthYear}}</div>
</div> 
{{#if session.canUpdateAuthors}}
    <a href="./edit/{{author.Id}}"><input type="submit" value="Edit"></a>
{{/if}}

{{#if author.books}}
    {{#each author.books}}
        <option value="{{this.ISBN}}">{{this.ISBN}} / {{this.title}} </option>
        <a href="/books/{{this.ISBN}}"><input type="submit" value="Go"></a>
    {{/each}}
{{/if}}


