{{> pagination}}


<!-- Possibly add admin controll here start-->
    <form action="/authors/create" method="GET">
        <button type="submit">Create Author</button>
    </form>
<!-- Possibly add admin controll here /end -->

{{#each authors}}
    <div id="book_info">
        <a href="/authors/{{this.Id}}">

            <div>Id: {{Id}}</div>
            <div>firstName: {{this.firstName}}</div>
            <div>lastName: {{this.lastName}}</div>
            <div>birthYear: {{this.birthYear}}</div>
        </a>
    </div>
    <form action="authors/delete/{{Id}}"  method="post">
        <input type="submit" value="Delete"/>
    </form>
    
{{/each}}

{{> pagination}}
