{{> pagination}}
{{> search}}

{{#if session.loggedIn}}
    <form action="/authors/create" method="GET">
        <button type="submit">Create Author</button>
    </form>
{{/if}}

{{#each authors}}
    <div id="book_info">
        <a href="/authors/{{this.Id}}">

            <div hidden="true">Id: {{this.Id}}</div>
            <div>firstName: {{this.firstName}}</div>
            <div>lastName: {{this.lastName}}</div>
            <div>birthYear: {{this.birthYear}}</div>
        </a>
    </div>
    {{#if ../session.canDeleteAuthors}}
        <form action="authors/delete/{{Id}}"  method="post">
            <input type="submit" value="Delete"/>
        </form>
    {{/if}}
    
{{/each}}

{{> pagination}}
