{{> pagination}}
{{> search}}

{{#if session.canCreateAccounts}}
    <form action="./create" method="GET">
        <input type="submit" value="Create">
    </form>
{{/if}}

{{#each accounts}}
    <div id="book_info">
        <a href="{{this.Id}}">

            <div>Id: {{this.Id}}</div>
            <div>User Name: {{this.userName}}</div>
            <div>First Name: {{this.firstName}}</div>
            <div>Last Name: {{this.lastName}}</div>
            <div>Authority: {{this.authorityLevel}}</div>
        </a>
    </div>
    {{#if ../session.canDeleteAccounts}}
        <form action="./delete/{{Id}}"  method="post">
            <input type="submit" value="Delete"/>
        </form>
    {{/if}}
    
{{/each}}

{{> pagination}}
