{{> pagination}}
{{> search}}

{{#isSuper session.authorityId }}
    <a href="/accounts/create"> <input type="submit" value="Create"> </a>
{{/isSuper}}

{{#each accounts}}
    <div id="book_info">
        <a href="/accounts/{{this.Id}}">

            <div>Id: {{this.Id}}</div>
            <div>User Name: {{this.userName}}</div>
            <div>First Name: {{this.firstName}}</div>
            <div>Last Name: {{this.lastName}}</div>
            <div>Authority: {{this.authority.name}}</div>
        </a>
    </div>
    {{#isSuper ../session.authorityId}}
        <form action="/accounts/delete/{{Id}}"  method="post">
            <input type="submit" value="Delete"/>
        </form>
    {{/isSuper}}
    
{{/each}}

{{> pagination}}
