<form action="./edit/{{this.Id}}" method="GET">
    <div id="book_info">
        <div>Id: {{this.Id}}</div>
        <div>Username: {{this.userName}}</div>
        <div>FirstName: {{this.firstName}}</div>
        <div>LastName: {{this.lastName}}</div>
        <div>authorityLevel: {{this.authorityLevel}}</div>
    </div>
<input type="submit" value="Edit">
</form>

