{{> pagination}}

{{#each accounts}}
    <div id="book_info">
        <a href="">

            <div>Id: {{this.Id}}</div>
            <div>User Name: {{this.userName}}</div>
            <div>First Name: {{this.firstName}}</div>
            <div>Last Name: {{this.lastName}}</div>
            <div>Authority: {{this.authorityLevel}}</div>
        </a>
    </div>
    <form action="accounts/delete/{{Id}}"  method="post">
        <input type="submit" value="Delete"/>
    </form>
    
{{/each}}

{{> pagination}}
