<form action="./edit/{{account.Id}}" method="GET">
    <div id="book_info">
        <div>Id: {{account.Id}}</div>
        <div>Username: {{account.userName}}</div>
        <div>FirstName: {{account.firstName}}</div>
        <div>LastName: {{account.lastName}}</div>
        <div>authorityLevel: {{account.authorityLevel}}</div>
    </div>
    {{#if session.canUpdateAccounts}}
        <input type="submit" value="Edit">
    {{/if}}
</form>

