<form action="/accounts/edit/{{account.Id}}" method="GET">
    <div id="book_info">
        <input type="hidden" name="_csrf" value="{{_csrf}}">
        <div>Id: {{account.Id}}</div>
        <div>User name: {{account.userName}}</div>
        <div>First Name: {{account.firstName}}</div>
        <div>Last Name: {{account.lastName}}</div>
        {{#if account.authority}}
            <div>Authority Level: {{account.authority.name}}</div>
        {{/if}}
    </div>
    {{#isSuper session.authorityId}}
        <input type="submit" value="Edit">
    {{/isSuper}}
    {{#isAdmin session.authorityId}}
        {{#isNotSuper account.authority.Id}}
            <input type="submit" value="Edit">
        {{/isNotSuper}}
    {{/isAdmin}}
</form>

