
<pagination>
    {{#if pagination.hasFirstPage}}
            <li class="pageNumber" id="pageFirst">
                <a href="/books?currentPage={{this.value}}&searchString={{../books.searchString}}">First Page</a>
            </li>
    {{/if}}
    <ul>
        {{#each pagination.pages}}
            {{#if this.isCurrent}}

                <li class="pageNumber" id="pageCurrent">
                    <a href="/books?currentPage={{this.value}}&searchString={{../books.searchString}}">{{this.value}}</a>
                </li>

            {{else}}

                <li class="pageNumber" >
                    <a href="/books?currentPage={{this.value}}&searchString={{../books.searchString}}">{{this.value}}</a>
                </li>

            {{/if}}
        {{/each}}
    </ul>

    {{#if pagination.hasLastPage}}
        <li class="pageNumber" id="pageLast">
            <a href="/books?currentPage={{this.value}}&searchString={{../books.searchString}}">Last Page</a>
        </li>
    {{/if}}
</pagination>